body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    height: 450px;
    width: 350px;
    background: #3d2a31;
    margin: 10%;
    border-radius: 10px;
}

#tela {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    height: 70px;
    width: 320px;
    background: #695856;
    margin-top: 10px;
    border: 10px;
    border-radius: 10px;
    color: antiquewhite;
}

#digitos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    color: white;
    font-size: 25px;
    margin: 4px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: #514649;
}

button:hover {
    background-color: #2e2c2d;
}

button:active {
    background-color: #514649;
}